---
import Card from '@/components/common/Card.astro';
import Header from '@/components/navigation/Header.astro';
import Section from '@/components/common/Section.astro';
import Layout from '@/layouts/Layout.astro';
import Slideshow from '@/components/common/Slideshow.astro';
import { __DEV__, CONTACT_URL } from '@/config/constants';
import Button from '@/components/common/Button.astro';
import { Image } from 'astro:assets';

const product = {
  name: 'Pardo E72',
  model: 'E72',
};
---

<Layout title={product.model}>
  <Header />
  <main class='relative'>
    <Section class='h-[100svh]'>
      <video
        autoplay={!__DEV__}
        playsinline
        muted
        loop
        class='absolute inset-0 h-full w-full object-cover'
        preload='metadata'
        poster='https://pardoyachts.com/cdn/shop/files/preview_images/5ebac490117e490cb7dc40ce1fa18ccf.thumbnail.0000000000_small.jpg?v=1736705026'
      >
        <source
          src='https://pardoyachts.com/cdn/shop/videos/c/vp/5ebac490117e490cb7dc40ce1fa18ccf/5ebac490117e490cb7dc40ce1fa18ccf.HD-1080p-2.5Mbps-40882598.mp4?v=0'
          type='video/mp4'
        />
      </video>
      <div class='z-10 flex h-full flex-col items-center justify-center p-4 text-center sm:p-5'>
        <h1 class='text-white'>
          Scopri il nuovo<br />
          <span class='text-[110%]'>{product.name}</span>
        </h1>
      </div>
    </Section>
    <Section>
      <h2 class='text-center'>Novità</h2>
      <Slideshow paddingHorizontal>
        <Card
          title='Comfort'
          description='Endurance 72 è pensata per lunghe navigazioni: comfort inedito, indoor e outdoor, autonomia e consumi contenuti.'
          image='https://pardoyachts.com/cdn/shop/files/a1.jpg?v=1736898209'
        />
        <Card
          title='Efficienza'
          description='Progettata per navigare a lungo, in dislocamento o planata. Eco-speed e design ottimizzato per massima efficienza e bassi consumi.'
          image='https://pardoyachts.com/cdn/shop/files/h-1-3-a1.jpg?v=1736899201'
        />
        <Card
          title='Silenziosità'
          description='Crociera silenziosa grazie a soluzioni costruttive e propulsione avanzata.'
          image='https://pardoyachts.com/cdn/shop/articles/sardinia_12971e7d-de7f-4478-a869-187a9a833c42.jpg?v=1747828381'
        />
        <Card
          title='Ibrido'
          description='Predisposizione per motorizzazione ibrida: sostenibilità già nel progetto.'
          image='https://pardoyachts.com/cdn/shop/articles/News_-_PARDO_x_Seaspice_desktop_e1590f25-6dee-4860-9a1d-8c4501cbaced.jpg?v=1754311186'
        />
        <Card
          title='Design'
          description="Prua inversa e linee filanti: l'identità Pardo in ogni dettaglio."
          image='https://pardoyachts.com/cdn/shop/files/p38_ok.jpg?v=1736898052'
        />
      </Slideshow>
    </Section>
    <Section marginHorizontal>
      <div class='bg-muted flex flex-col gap-4 rounded p-10 text-center tracking-wide'>
        <h5 class='text-3xl font-medium lg:text-5xl'>Più spazi, più comfort, più vita nel blu.</h5>
        <p class='text-xl lg:text-4xl'>
          Ispirato all'immensità del mare, per infiniti paesaggi da esplorare.
        </p>
      </div>
      <div class='flex items-center justify-center'>
        <Button as='a' href={CONTACT_URL}>Richiedi informazioni</Button>
      </div>
    </Section>
    <Section>
      <h2 class='text-center'>Galleria</h2>
      <Slideshow class='lg:auto-cols-[50%] xl:auto-cols-[50%]'>
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_exterior_desktop_001_b.jpg?v=1737108915'
          alt='Image of Pardo E72 from overhead vertical'
          width={1920}
          height={1080}
        />
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_exterior_desktop_004.jpg?v=1736085598'
          alt='Image of Pardo E72 from overhead horizontal'
          width={1920}
          height={1080}
        />
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_exterior_desktop_005.jpg?v=1736085687'
          alt='Image of Pardo E72 from behind horizontal'
          width={1920}
          height={1080}
        />
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_exterior_desktop_003.jpg?v=1736085598'
          alt='Image of Pardo E72 from overhead zoomed in'
          width={1920}
          height={1080}
        />
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_exterior_desktop_002.jpg?v=1736085598'
          alt='Image of Pardo E72 front from overhead zoomed in'
          width={1920}
          height={1080}
        />
      </Slideshow>
      <Slideshow class='lg:auto-cols-[50%] xl:auto-cols-[50%]'>
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_interior_desktop_001.jpg?v=1736085966'
          alt='Image of Pardo E72 interior'
          width={1920}
          height={1080}
        />
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_interior_desktop_004.jpg?v=1736085965'
          alt='Image of Pardo E72 interior'
          width={1920}
          height={1080}
        />
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_interior_desktop_007.jpg?v=1736085965'
          alt='Image of Pardo E72 central command station'
          width={1920}
          height={1080}
        />
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_interior_desktop_008.jpg?v=1736085967'
          alt='Image of Pardo E72 interior bedroom'
          width={1920}
          height={1080}
        />
        <Image
          src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_interior_desktop_011.jpg?v=1736085966'
          alt='Image of Pardo E72 interior bathroom'
          width={1920}
          height={1080}
        />
      </Slideshow>
    </Section>
    <Section marginHorizontal>
      <h2 class='text-center'>Scheda tecnica</h2>
      <div class='grid grid-cols-2 gap-8 lg:grid-cols-3'>
        <div class='col-span-2'>
          <!-- Scheda tecnica -->
        </div>
        <div class='hidden lg:block'>
          <Image
            src='https://pardoyachts.com/cdn/shop/files/PardoYacht_PardoModel_E72_exterior_desktop_001_b.jpg?v=1737108915'
            alt='Pardo E72 Technical'
            class='rounded'
            width={1920}
            height={1080}
          />
        </div>
      </div>
      <div class='flex items-center justify-center'>
        <Button as='a' href={CONTACT_URL}>Richiedi informazioni</Button>
      </div>
    </Section>
  </main>
</Layout>
