---
import '@/assets/global.css';
import { BASE_URL, APP_TITLE } from '@/config/constants';
import Footer from '@/components/navigation/Footer.astro';

type Props = {
  title?: string;
};

const { title } = Astro.props;

const pageTitle = title ? `${title} - ${APP_TITLE}` : APP_TITLE;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/x-icon' href={BASE_URL + '/favicon.ico'} />

    <title>{pageTitle}</title>
  </head>
  <body style='overflow: hidden;'>
    <div class='relative flex h-[100svh] w-full flex-col' style='overflow-y: auto;'>
      <slot />
      <Footer />
    </div>
  </body>
</html>
